* {
	font-size: 1em;
	@include box-sizing(border-box);
}

$base-font-size: 16px;
body {
	font-family: Roboto, sans-serif;
	font-size: $base-font-size;
	background-color: #eee;
	background-attachment: fixed;
}
@media (max-width: 320px) {body {font-size: 7px} }
@media (max-width: 568px) {body {font-size: 12px} }

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	font-size: 1em;
}

body, html {height: 100%;}