// colors
$skyBlue: #0091ea;
$skyBlue-lighten: #00e5ff;
@mixin box-sizing($value) {
  -webkit-box-sizing: $value;
     -moz-box-sizing: $value;
      -ms-box-sizing: $value;
          box-sizing: $value;
}
.reset-for-btn {
	background-color: transparent;
	border: none;
	outline: none;
	cursor: pointer;
	&:focus {background: transparent;}
}

._center {
	margin-left: auto;
	margin-right: auto;
}
.center-fluid {
	margin-left: auto;
	margin-right: auto;
	display: table;
}

.upper {text-transform: uppercase;}
.lower {text-transform: lowercase;}
.capitalize {text-transform: capitalize;}

.txt-center {text-align: center;}

.txt-shadow {text-shadow: 1px 1px 2px rgba(0,0,0, 0.3);}

.txt-light {font-weight: 300;}
.txt-regular {font-weight: 400;}
.txt-semibold {font-weight: 500;}
.txt-bold {font-weight: 600;}

.transition {transition: .2s;}

.clearfix:after {
	content: '';
	display: block;
	clear: both;
}

.text-preview {
	height: 197px;
	overflow: hidden;
	position: relative;
}
.text-preview:after,
.text-preview:before {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	height: 0;
	width: 100%;
	box-shadow: 0 0 30px 25px rgba(255,255,255, .7);
}
.text-preview:before {
	box-shadow: 0 0 7px 3px rgba(255,255,255, .8);
}

// *******************
// *  Main Elements  * - only view, not positioning
// *******************

.mainTitle {
	@extend .txt-shadow, .txt-center;
	color: #0091ea;
	padding: 3.0em 0 1.5em;
	span {font-size: 3em; line-height: 1em;}
}

.mainSubtitle {
	@extend .txt-shadow, .txt-center;
	padding: 1em 0 .8em;
	span {font-size: 1.5em;}
}
* {
	font-size: 1em;
	@include box-sizing(border-box);
}

$base-font-size: 16px;
body {
	font-family: Roboto, sans-serif;
	font-size: $base-font-size;
	background-color: #eee;
	background-attachment: fixed;
}
@media (max-width: 320px) {body {font-size: 7px} }
@media (max-width: 568px) {body {font-size: 12px} }

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	font-size: 1em;
}

body, html {height: 100%;}